* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background-colour: #f4f4f4;
    colour: #333;
}


header {
    background-colour: #f527cf;
    colour:white;
    text-align:center;
    padding:20px 0;
}


header nav a {
    colour:white;
    margin: 0 10px;
    text-decoration:none;
    font-weight:bold;
}


header nav a:hover {
    text-decoration:underline;
}


.section {
    text-align:centre;
    padding:40px 20px;
    background-colour:white;
    margin: 20px auto;
    max-width:800px;
    border-radius: 10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}


#about img {
    width: 150px;
    border-radius: 50%;
    margin: 20px 0;
}


table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}


th,td {
    border: 1px solid #ccc;
    padding:10px;
}


th {
    background-colour: #f527cf;
    colour:white;
}


.project {
    background-colour: #f9f9f9;
    border: 1px solid #ddd;
    margin: 10px auto;
    padding: 15px;
    width:70%
    border-radius: 8px;
}


form {
    display: flex;
    flex-direction:column;
    width: 70%;
    margin: 0 auto;
}


label {
    text-align: left;
    margin: 10px 0 5px;
    font-weight: 600;
}


input,textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    margin-top: 15px;
    background-colour: #f527cf;
    color: white;
    border:none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


.back-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #f527cf;
    color:white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}






